@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    box-sizing: border-box;
    
}


HTML, body {
    margin: 0px;
    padding: 0px;
      border: 0px;
      font-family: 'Ubuntu', sans-serif;
    }



body {
    
	display:flex
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding-top: 0;
    

    
}

.hotelconatiner{

    margin: auto;
      padding: 0px;
      width: 400px;
      padding-bottom: 0px;
   
      
  }

.BL {
    position: absolute;
    bottom: 8px;
    left: 5px;
}

.sb-example-1 .search {
    width: 100%;
    position: relative;
    display: flex;
    border-radius: 50px;
  }
  .sb-example-1 .searchTerm {
    width: 100%;
    border: 3px solid #1c1f57;
    border-right: none;
    padding: 5px;
    outline: none;
    color: #9DBFAF;
    border-radius: 50px;
  }
  .sb-example-1 .searchTerm:focus{
    color: #1c1f57;
    border-radius: 50px;
  }
  .sb-example-1 .searchButton {
    width: 40px;
    height: 50px;
    border: 1px solid #1c1f57;
    background: #1c1f57;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50px;
  }


img {
    max-width: 100%;
}

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  

.item-pad{
    padding-bottom: 20px;
}
#main-container {
	background-color: #ecf0f1;
	height: 2000px;
}


  .ui.avatar.image{
    width: 1em;
    height: 1em;
}

.dishImage{
    margin-top: 10px;
    margin-right: 10px;
    width: 3em;
    height: 3em;
}


  .imgContainer {
      display: flex;
    position: relative;
    text-align: center;
    color: white;
    
  }
  

.mobile-container {
    background-color: #fff;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 3px;
    overflow: hidden;
    width: 400px;
}

header {
    display: flex;
    color: white;
    font-size: 30px;
  
}

.myButtonContainer{
    position: fixed;
    width: 400px;
    height: 100px
  }

.feedback {
    background-color : #f30611;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    border-color: #f30611;
  }
  
  #mybutton {
    position: fixed;
    bottom: 0px;
    left: 600px;
    
  }

  #wa {
    position: fixed;
    bottom: 0px;
    width: 3em;
    height: 3em;
    left: 450px;;
  }

  #phone {
    position: fixed;
    bottom: 0px;
    width: 3em;
    height: 3em;
    right: 450px;
    
  }

  #link-box {
    width: 150px;
    height: 400px;
    display: none;
    
    border: 3px solid #000000;
  }
  
  .toggle:focus~#link-box {
   display: block;
  }
  .toggle:focus~.feedback{
    display: none;
   }
  
  #link-box > ul > li {
   list-style: none;
   padding: 10px;
  }
  
  #link-box > ul > li > a {
   text-decoration: none;
   color: white;
  }

 

  
@media only screen and (max-width: 600px) {


  

    .feedback {
        background-color : #f30611;
        color: white;
        padding: 10px 10px;
        border-radius: 25px;
        border-color: #f30611;
      }
    #mybutton {
        position: fixed;
        bottom: 0px;
        left: 200px;        
      }
    
      #wa {
        position: fixed;
        bottom: 0px;
        width: 2.8em;
        height: 2.8em;
        left: 50px;
        
      }
    
      #phone {
        position: fixed;
        bottom: 0px;
        width: 3em;
        height: 3em;
        right: 50px;
        
      }

   
    
   
     
    }

