
* {
    box-sizing: border-box;
}



body {
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 200vh;
}

.BL {
    position: absolute;
    bottom: 8px;
    left: 5px;
}

.sb-example-1 .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  .sb-example-1 .searchTerm {
    width: 100%;
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
  }
  .sb-example-1 .searchTerm:focus{
    color: #00B4CC;
  }
  .sb-example-1 .searchButton {
    width: 40px;
    height: 50px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }


img {
    max-width: 100%;
}

.hotelconatiner{

    margin: auto;
      padding: 10px;
      width: 500px;
      
  }

  .ui.avatar.image{
    width: 1em;
    height: 1em;
}

.dishImage{
    margin-top: 10px;
    margin-right: 10px;
    width: 3em;
    height: 3em;
}


  .imgContainer {
      display: flex;
    position: relative;
    text-align: center;
    color: white;
    
  }
  

.mobile-container {
    background-color: #fff;
    box-shadow: 0 0 10px 2px #3333331a;
    border-radius: 3px;
    overflow: hidden;
    width: 400px;
}

header {
    display: flex;
    color: white;
    font-size: 30px;
  
}

.myButtonContainer{
    position: fixed;
    width: 400px;
    height: 100px
  }

.feedback {
    background-color : #31B0D5;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #46b8da;
  }
  
  #mybutton {
    position: fixed;
    bottom: 0px;
    left: 600px;
    
  }

  #wa {
    position: fixed;
    bottom: 0px;
    width: 3em;
    height: 3em;
    left: 450px;;
  }

  #phone {
    position: fixed;
    bottom: 0px;
    width: 3em;
    height: 3em;
    right: 450px;
    
  }

  #link-box {
    width: 150px;
    height: 400px;
    display: none;
    
    border: 3px solid #000000;
  }
  
  .toggle:focus~#link-box {
   display: block;
  }
  .toggle:focus~.feedback{
    display: none;
   }
  
  #link-box > ul > li {
   list-style: none;
   padding: 10px;
  }
  
  #link-box > ul > li > a {
   text-decoration: none;
   color: #000000;
  }

 

  
@media only screen and (max-width: 700px) {

    .feedback {
        background-color : #31B0D5;
        color: white;
        padding: 5px 5px;
        border-radius: 4px;
        border-color: #46b8da;
      }
    #mybutton {
        position: fixed;
        bottom: 0px;
        left: 125px;        
      }
    
      #wa {
        position: fixed;
        bottom: 0px;
        width: 2em;
        height: 2em;
        left: 50px;
        
      }
    
      #phone {
        position: fixed;
        bottom: 0px;
        width: 2em;
        height: 2em;
        right: 50px;
        
      }

   
    
   
     
    }

